:root{
  --sl-layout-zoom: 1;
  --sl-layout-size: calc(var(--sl-layout-zoom) * 6px);
}

.Selector {
  --sl-white-text-color: #fff;
  --sl-yellow-btn-color: #e6b631;
  --sl-purple-btn-color: #a265e8;
  --sl-light_blue-btn-color: #5988ca;
  --sl-blue-btn-color: rgb(26, 122, 249);
  --sl-green-btn-color: #80c342;
  --sl-light_red-btn-color: #e96464;
  --sl-red-btn-color: rgb(231, 51, 51);
  --sl-gray-bg-color: #e0e5e7;
  --sl-gray-border-color: #ccc;
  --sl-light_orange-color: #d57743;
  --sl-orange-color: #d56222;
}

/*清除无名杀div默认样式*/
.Selector,.selector-header,.selector-list,.selector-content,.selector-header div,
.selector-list div,.selector-content div:not(.characterList div){
  display: block;
  position: static;
  transition: none;
}

/*清除button默认样式*/
.selector-header button,.selector-list button,.selector-content button{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    font-family: 'shousha';
    color: inherit;
}

.Selector button:active:not(.selector-header-search>button) {
  transform: scale(0.95);
  transform-origin: center center;
}

/* 选将容器 */
.Selector {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  background-image: url(../image/huanhua_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  transition: opacity 0.5s ease-in-out; 

  font-size: calc(var(--sl-layout-size) * 3);
  color: var(--sl-white-text-color);
  text-align: center;
  font-family: 'shousha';
}

.Selector[data-visible="true"]{
  display: block;
  opacity: 1;
  transition-delay: 0s;
}

/* 头部区域 */
.Selector>.selector-header {
  display: flex;
  width: 100%;
  height: calc(var(--sl-layout-size) * 8);
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(50, 50, 50, 0.3); */
}

/* 头部-分类方式切换 */
.Selector>.selector-header .select {
  font-size: calc(var(--sl-layout-size) * 2.5);
  box-sizing: border-box;
    border-radius: calc(var(--sl-layout-size)* 0.6);
  width: calc(var(--sl-layout-size) * 15);
  height: calc(var(--sl-layout-size) * 5);
  line-height: calc(var(--sl-layout-size) * 5);
  font-size: calc(var(--sl-layout-size) * 1.9);
  background: url(../image/setting.png) no-repeat center center/contain;
  margin-left: calc(var(--sl-layout-size) * 2.5);
}
.Selector>.selector-header .select>.classification,
.Selector>.selector-header .select .method{
  display: inline-block;
  height: calc(var(--sl-layout-size) * 5);
}

.Selector>.selector-header .select .method img {
  width: calc(var(--sl-layout-size) * 2);
  vertical-align: middle;
  transition: all .3s linear;
  transform-origin: 50% 33.33%;
}

.Selector>.selector-header .select .select-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .3s linear;
}

.Selector>.selector-header .select .select-content>div {
  overflow: hidden;
  z-index: 21;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: calc(var(--sl-layout-size) * 0.5);
}

.Selector>.selector-header .select .select-content>div>span {
  display: block;
  background: url(../image/hotlist.png) no-repeat center center/contain;
}

.Selector>.selector-header .select .choose.active img {
  transform: rotate(-180deg);
}

.Selector>.selector-header .select .choose.active .select-content {
  grid-template-rows: 1fr;
}

/* 头部区域——按钮区 */
.Selector>.selector-header>.selector-header-pack {
  display: flex;
  flex: 1;
  max-width: calc(var(--sl-layout-size) * 45);
  justify-content: space-between;
  align-items: center;
}

.Selector>.selector-header .selector-header-help {
  width: calc(var(--sl-layout-size) * 6);
  height: calc(var(--sl-layout-size) * 6);
  background: url(../image/help.png)  no-repeat center center/contain;
}

.Selector>.selector-header .selectAll,
.Selector>.selector-header .inverse,
.Selector>.selector-header .plan,
.Selector>.selector-header .selector-header-fake-prohibited,
.Selector>.selector-content .result>button {
  appearance: none;
  background-color: var(--sl-light_blue-btn-color);
  width: calc(var(--sl-layout-size) * 8);
  height: calc(var(--sl-layout-size) * 5);
  line-height: calc(var(--sl-layout-size) * 5);
  box-sizing: border-box;
  font-size: calc(var(--sl-layout-size) * 2.5);
  border: none;
  border-radius: calc(var(--sl-layout-size) * 1);
  position: relative;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(1px);
  box-shadow:
    0 calc(var(--sl-layout-size) * 0.33) calc(var(--sl-layout-size) * 1.33) rgba(0, 0, 0, 0.3),
    0 0 0 calc(var(--sl-layout-size) * 0.33) rgba(0, 0, 0, 0.2),
    inset 0 calc(var(--sl-layout-size) * 0.16) calc(var(--sl-layout-size) * 0.67) rgba(255, 255, 255, 0.15);
}

.Selector>.selector-header .selectAll.active,
.Selector>.selector-header .selectAll.active::before {
  background-color: var(--sl-blue-btn-color);
}


.Selector>.selector-header .selector-header-fake-prohibited.active,
.Selector>.selector-header .selector-header-fake-prohibited.active::before {
  background-color: var(--sl-orange-color);
}

.Selector>.selector-header .selectAll.active{
  box-shadow:
    0 calc(var(--sl-layout-size) * 0.33) calc(var(--sl-layout-size) * 1.33) rgba(0, 0, 0, 0.3),
    0 0 0 calc(var(--sl-layout-size) * 0.33) rgba(0, 0, 0, 0.2),
    inset 0 calc(var(--sl-layout-size) * 0.16) calc(var(--sl-layout-size) * 0.67) rgba(255, 255, 255, 0.15),
    
    0 calc(var(--sl-layout-size) * 0.33) calc(var(--sl-layout-size) * 1.33) rgba(26, 122, 249, 0.3), 
    0 0 0 calc(var(--sl-layout-size) * 0.33) rgba(26, 122, 249, 0.2), 
    inset 0 calc(var(--sl-layout-size) * 0.16) calc(var(--sl-layout-size) * 0.67) rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0.2) 0 0 0 calc(var(--sl-layout-size) * 0.16), 
    rgba(26, 122, 249, 0.4) 0 0 calc(var(--sl-layout-size) * 0.83),
    rgba(26, 122, 249, 0.4) 0 0 calc(var(--sl-layout-size) * 2), 
    rgba(26, 122, 249, 0.8) 0 0 calc(var(--sl-layout-size) * 2.5);
}

.Selector>.selector-header .selector-header-fake-prohibited.active{
  box-shadow:
    0 calc(var(--sl-layout-size) * 0.33) calc(var(--sl-layout-size) * 1.33) rgba(0, 0, 0, 0.3),
    0 0 0 calc(var(--sl-layout-size) * 0.33) rgba(0, 0, 0, 0.2),
    inset 0 calc(var(--sl-layout-size) * 0.16) calc(var(--sl-layout-size) * 0.67) rgba(255, 255, 255, 0.15),
    
    0 calc(var(--sl-layout-size) * 0.33) calc(var(--sl-layout-size) * 1.33) rgba(213, 98, 34, 0.3), 
    0 0 0 calc(var(--sl-layout-size) * 0.33) rgba(213, 98, 34, 0.2), 
    inset 0 calc(var(--sl-layout-size) * 0.16) calc(var(--sl-layout-size) * 0.67) rgba(255, 255, 255, 0.15),
    rgba(0, 0, 0, 0.2) 0 0 0 calc(var(--sl-layout-size) * 0.16), 
    rgba(213, 98, 34, 0.4) 0 0 calc(var(--sl-layout-size) * 0.83),
    rgba(213, 98, 34, 0.4) 0 0 calc(var(--sl-layout-size) * 2), 
    rgba(213, 98, 34, 0.8) 0 0 calc(var(--sl-layout-size) * 2.5);
}

.Selector>.selector-header .inverse{
  background-color: var(--sl-yellow-btn-color);
}

.Selector>.selector-header .plan{
  background-color: var(--sl-purple-btn-color);
}

.Selector>.selector-header .selector-header-fake-prohibited{
  background-color: var(--sl-light_orange-color);
}

.Selector>.selector-header .selector-header-fake-prohibited.advancedFP{
  width: calc(var(--sl-layout-size) * 11.5);
  font-size: calc(var(--sl-layout-size) * 1.9);
}

.Selector>.selector-header .selectAll::before,
.Selector>.selector-header .inverse::before,
.Selector>.selector-header .plan::before,
.Selector>.selector-header .selector-header-fake-prohibited::before,
.Selector>.selector-content .result>button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(var(--sl-layout-size) * 0.35);
  left: calc(var(--sl-layout-size) * 0.35);
  right: calc(var(--sl-layout-size) * 0.35);
  bottom: calc(var(--sl-layout-size) * 0.35);
  background-color: var(--sl-light_blue-btn-color);
  border-radius: inherit;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0) scaleY(1);
  box-shadow:
    0 calc(var(--sl-layout-size) * 1.33) calc(var(--sl-layout-size) * 5.33) rgba(0, 0, 0, 0.5),
    inset 0 calc(var(--sl-layout-size) * -0.33) calc(var(--sl-layout-size) * 1.33) rgba(255, 255, 255, 0.2);
}

.Selector>.selector-header .inverse::before{
  background-color: var(--sl-yellow-btn-color);
}

.Selector>.selector-header .plan::before{
  background-color: var(--sl-purple-btn-color);
}

.Selector>.selector-header .selector-header-fake-prohibited::before{
   background-color: var(--sl-light_orange-color);
}

.Selector>.selector-header .selectAll:active,
.Selector>.selector-header .inverse:active,
.Selector>.selector-header .plan:active,
.Selector>.selector-header .selector-header-fake-prohibited:active,
.Selector>.selector-header .selector-header-fake-prohibited[data-id],
.Selector>.selector-content .result>button:active {
  transform: translateY(1px) scale(0.95);
  box-shadow:
    0 calc(var(--sl-layout-size) * 0.33) calc(var(--sl-layout-size) * 1.33) rgba(0, 0, 0, 0.3),
    0 0 0 calc(var(--sl-layout-size) * 0.33) rgba(0, 0, 0, 0.2),
    inset 0 calc(var(--sl-layout-size) * 0.16) calc(var(--sl-layout-size) * 0.67) rgba(255, 255, 255, 0.15),
    
    0 calc(var(--sl-layout-size) * 0.5) calc(var(--sl-layout-size) * 2) rgba(0, 0, 0, 0.7),
    0 calc(var(--sl-layout-size) * 0.5) calc(var(--sl-layout-size) * 2) rgba(229, 229, 229, 0.1),
    inset 0 calc(var(--sl-layout-size) * 0.08) calc(var(--sl-layout-size) * 0.33) rgba(255, 255, 255, 0.1);
}

.Selector>.selector-header .selectAll:hover,
.Selector>.selector-header .inverse:hover,
.Selector>.selector-header .plan:hover,
.Selector>.selector-header .selector-header-fake-prohibited:hover,
.Selector>.selector-content .result>button:hover{
  filter: brightness(1.05) saturate(1.05);
}

.Selector>.selector-header .selectAll:hover ::before,
.Selector>.selector-header .inverse:hover ::before,
.Selector>.selector-header .paln:hover ::before,
.Selector>.selector-content .result>button:hover ::before {
  filter: brightness(1.05) saturate(1.05);
}

.Selector>.selector-header .setUp {
  width: calc(var(--sl-layout-size) * 8);
  height: calc(var(--sl-layout-size) * 6);
  background: url(../image/setting_btn1.png) no-repeat right center/contain;

}

/* 头部-搜索框 */
.Selector>.selector-header>.selector-header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(var(--sl-layout-size) * 23);
  height: calc(var(--sl-layout-size) * 5);
  box-sizing: border-box;
  /* border: .3 solid rgba(255, 132, 0); */
  border-radius: calc(var(--sl-layout-size) * 0.8);
  padding: 0 calc(var(--sl-layout-size) * 0.5);
  color: #333;
  background-color: var(--sl-gray-bg-color);
}

.selector-header>.selector-header-search>.search-content{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* padding: 0 calc(var(--sl-layout-size) * 2); */
  width: 100%;
  margin-right: calc(var(--sl-layout-size) * 0.5);
  height: calc(var(--sl-layout-size) * 4);
  padding: 0 calc(var(--sl-layout-size) * 0.5);
  /* border: calc(var(--sl-layout-size) * 0.33) solid transparent; */
  border-radius: calc(var(--sl-layout-size) * 0.8);
}

/*文本输入框*/
.Selector>.selector-header>.selector-header-search .input {
  flex: 1;
  line-height: calc(var(--sl-layout-size) * 4);
  width: 100%;
  height: calc(var(--sl-layout-size) * 4);
  align-self: center;
  border: none;
  padding: 0;
  /* border-radius: calc(var(--sl-layout-size) * 0.8); */
  outline: none;
  font-size: calc(var(--sl-layout-size) * 2.1);
  background-color: transparent;
}

/* 修改 placeholder 文本的样式 */
.Selector>.selector-header>.selector-header-search .input::-webkit-input-placeholder { /* Chrome, Firefox, Opera */
  color: #999; /* 字体颜色 */
  font-family: 'shousha'; /* 字体家族 */
  font-size: calc(var(--sl-layout-size) * 2.5); /* placeholder 特定字体大小 */
  position: absolute;
  top: 50%; /* 移动到顶部的中间位置 */
  transform: translateY(-50%); 
}

.Selector>.selector-header>.selector-header-search .input:-moz-placeholder { /* Firefox 4-18 */
  color: #999;
  font-family: 'shousha';
  font-size: calc(var(--sl-layout-size) * 2); 
  position: absolute;
  top: 50%; /* 移动到顶部的中间位置 */
  transform: translateY(-50%); 
}

.Selector>.selector-header>.selector-header-search .input::-moz-placeholder { /* Firefox 19+ */
  color: #999;
  font-family: 'shousha';
  font-size: calc(var(--sl-layout-size) * 2); 
  position: absolute;
  top: 50%; /* 移动到顶部的中间位置 */
  transform: translateY(-50%); 
}

.Selector>.selector-header>.selector-header-search .input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999;
  font-family: 'shousha';
  font-size: calc(var(--sl-layout-size) * 2); 
  position: absolute;
  top: 50%; /* 移动到顶部的中间位置 */
  transform: translateY(-50%); 
}

.Selector>.selector-header>.selector-header-search .search-clean{
  display: none;
  width: calc(var(--sl-layout-size) * 2);
  height: calc(var(--sl-layout-size) * 2);
  background: url(../image/icon-clean.svg) no-repeat center center/100%;
}

.Selector>.selector-header>.selector-header-search .search-clean:hover{
  filter: contrast(50%);
}

/*文本输入框搜索按钮*/
.Selector>.selector-header>.selector-header-search button {
  /* border-radius: 50%; */
  width: calc(var(--sl-layout-size) * 4);
  height: calc(var(--sl-layout-size) * 4);
  border-radius: calc(var(--sl-layout-size) * 0.8);
  background: url(../image/icon-search.svg) no-repeat center center/70%;
}

.Selector>.selector-header>.selector-header-search .search-content:focus-within,
.Selector>.selector-header>.selector-header-search button:hover {
  background-color: #e3e5e7;
}

.Selector>.selector-header>.selector-header-search:hover {
  background-color: #fff;
}

/*搜索数量提示*/
.Selector>.selector-header>.selector-header-loginfo {
  width: calc(var(--sl-layout-size) * 24.3);
  height: calc(var(--sl-layout-size) * 4);
  line-height: calc(var(--sl-layout-size) * 4);
  font-size: calc(var(--sl-layout-size) * 2);
  background: url(../image/loginfo.png) no-repeat right top/cover;
}

/* 头部-关闭按钮 */
.Selector>.selector-header>.selector-header-close {
  width: calc(var(--sl-layout-size) * 8);
  height: calc(var(--sl-layout-size) * 8);
  background: url(../image/pub_back_button.png) no-repeat right top/cover;
}

/* 武将包列表区域 */
.Selector>.selector-list {
  display: flex;
  height: calc(var(--sl-layout-size) * 10);
  width: 100%;
  /* background-color: chartreuse; */
}

/* 武将包列表-左右按钮 */
.Selector>.selector-list>.selector-list-left,
.Selector>.selector-list>.selector-list-right {
  width: calc(var(--sl-layout-size) * 8);
  height: calc(var(--sl-layout-size) * 8);
  margin: calc(var(--sl-layout-size) * 1);
  background: url(../image/icon-right.png) no-repeat 0 0/cover;
  transform: rotate(180deg);
}

.Selector>.selector-list>.selector-list-left:active{
  transform: scale(0.95) rotate(180deg);
}

.Selector>.selector-list>.selector-list-right {
  background: url(../image/icon-right.png) no-repeat 0 0/cover;
  transform: none;
}

/* 武将包列表-武将包按钮 */
.Selector>.selector-list ul {
  height: calc(var(--sl-layout-size) * 10);
  width: calc(100% - calc(var(--sl-layout-size) * 10));
  display: flex;
  flex: 1;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  transition: all 0.5s ease; 
  white-space: nowrap;
}

.Selector>.selector-list ul li,
.Selector>.selector-list div[data-id="all-pack"]{
  flex-shrink: 0;
  min-width: calc(var(--sl-layout-size) * 13.5);
  /* min-height: auto; */
  height: calc(var(--sl-layout-size) * 6.75);
  line-height: calc(var(--sl-layout-size) * 6.75);
  padding: 0 calc(var(--sl-layout-size) * 1);
  box-sizing: border-box;
  border-radius: calc(var(--sl-layout-size) * 1.1);
  margin-right: calc(var(--sl-layout-size) * 2);
  background: url(../image/pack.png) no-repeat center center/contain;
  transition: all .1s linear;
}

.Selector>.selector-list div[data-id="all-pack"]{
  font-size: calc(var(--sl-layout-size)* 3);
  padding-left: calc(var(--sl-layout-size) * 1);
  align-self: center;
}

.Selector>.selector-list ul li.active,
.Selector>.selector-list div[data-id="all-pack"].active {
  background: url(../image/packAtive.png) no-repeat center center/contain;
  transform: scale(1.05);
}

/* 内容区域 */
.Selector>.selector-content {
  width: 100%;
  height: calc(100% - calc(var(--sl-layout-size) * 18));
  display: flex;
}

/*内容-左侧武将包分类区域 */
.Selector>.selector-content>.selector-content-characterSort {
  width: calc(var(--sl-layout-size) * 20);
  height: 100%;
  font-size: calc(var(--sl-layout-size) * 2.7);
  /* background-color: coral; */
}

/*内容-武将包分类按钮*/
.Selector>.selector-content>.selector-content-characterSort ol {
  height: calc(100% - calc(var(--sl-layout-size) * 30));
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Selector>.selector-content>.selector-content-characterSort ol li,
.Selector>.selector-content>.selector-content-characterSort div[data-id="all-characters"] {
  /* width: 100%; */
  height: calc(var(--sl-layout-size) * 9.5);
  line-height: calc(var(--sl-layout-size) * 9.5);
  background: url(../image/modebtn.png) no-repeat center center/contain;
  border-radius: calc(var(--sl-layout-size) * 1.2);
  transform: scale(0.8);
  transition: all .1s linear;
}

.Selector>.selector-content>.selector-content-characterSort div[data-id="all-characters"]{
  font-size: calc(var(--sl-layout-size)* 3);
  width: 100%;
}

.Selector>.selector-content>.selector-content-characterSort ol li.active,
.Selector>.selector-content>.selector-content-characterSort div[data-id="all-characters"].active {
  /* width: 100%; */
  transform: scale(0.86);
  background: url(../image/modebtn2.png) no-repeat center center/contain;
}

/* 内容-结果区域 */
.Selector>.selector-content>.selector-content-characterSort .result {
  width: calc(var(--sl-layout-size) * 20);
  height: calc(var(--sl-layout-size) * 20);
}

.Selector>.selector-content .result>button{
  width: calc(var(--sl-layout-size) * 20);
  height: calc(var(--sl-layout-size) * 10);
  line-height: calc(var(--sl-layout-size) * 10);
  box-sizing: border-box;
  border-radius: calc(var(--sl-layout-size) * 1);
  font-size: calc(var(--sl-layout-size) * 2.7);
  background-color: var(--sl-light_red-btn-color);
  transform: translateY(1px) scale(0.8);
}

.Selector>.selector-content .result>.charConfirmBtn{
  background-color: var(--sl-green-btn-color);
}

.Selector>.selector-content .result>button::before{
  top: calc(var(--sl-layout-size) * 0.5);
  left: calc(var(--sl-layout-size) * 0.5);
  right: calc(var(--sl-layout-size) * 0.5);
  bottom: calc(var(--sl-layout-size) * 0.5);
  background-color: var(--sl-light_red-btn-color);
}

.Selector>.selector-content .result>.charConfirmBtn::before{
  background-color: var(--sl-green-btn-color);
}

/* 添加按钮按下状态的样式，仅通过调整阴影效果 */
.Selector>.selector-content .result>button:active {
    transform: translateY(1px) scale(0.76);
}

.Selector>.selector-content .result>.charSelectedBtn.active,
.Selector>.selector-content .result>.charSelectedBtn.active::before {
  background-color: var(--sl-red-btn-color);
}

.Selector>.selector-content .result>.charSelectedBtn.active{
  box-shadow: 
    0 calc(var(--sl-layout-size) * 0.33) calc(var(--sl-layout-size) * 1.33) rgba(0, 0, 0, 0.3),
    0 0 0 calc(var(--sl-layout-size) * 0.33) rgba(0, 0, 0, 0.2),
    inset 0 calc(var(--sl-layout-size) * 0.16) calc(var(--sl-layout-size) * 0.67) rgba(255, 255, 255, 0.15),
  
    0 calc(var(--sl-layout-size) * 0.33) calc(var(--sl-layout-size) * 1.33) rgba(231, 51, 51, 0.3), 
    0 0 0 calc(var(--sl-layout-size) * 0.33) rgba(231, 51, 51, 0.2), 
    inset 0 calc(var(--sl-layout-size) * 0.16) calc(var(--sl-layout-size) * 0.67) rgba(255, 255, 255, 0.15), 
    rgba(0, 0, 0, 0.2) 0 0 0 calc(var(--sl-layout-size) * 0.16), 
    rgba(231, 51, 51, 0.4) 0 0 calc(var(--sl-layout-size) * 0.83),
    rgba(231, 51, 51, 0.4) 0 0 calc(var(--sl-layout-size) * 2), 
    rgba(231, 51, 51, 0.8) 0 0 calc(var(--sl-layout-size) * 2.5);
}

/* 内容-右侧武将区域*/
.Selector>.selector-content>.characterList {
  position: relative;
  height: calc(100% - calc(var(--sl-layout-size) * 1));
  flex: 1;
}

.Selector>.selector-content>.characterList>.dialog{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: none;
	box-shadow: none;
  box-sizing: border-box;
  overflow-y: auto;
}

.Selector>.selector-content>.characterList>.dialog>.content-container {
  width: 100% !important;
  margin: 0;
}

.Selector>.selector-content>.characterList>.dialog>.content-container>.content {
  width: 100%;
  height: 100%;
  /* 取消本体的隐藏滚动条  */
  scrollbar-width: auto !important;
}

.Selector>.selector-content>.characterList>.dialog>.content-container>.content::-webkit-scrollbar {
  display: block !important;
  width: calc(var(--sl-layout-size) * 2);
}

.Selector>.selector-content>.characterList>.dialog>.content-container>.content::-webkit-scrollbar-thumb {
  height: calc(var(--sl-layout-size) * 1);
  background: #ccc;
  border-radius: calc(var(--sl-layout-size) * 1);
}

.Selector>.selector-content>.characterList>.dialog>.content-container>.content::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 168, 168);
}

.Selector>.selector-content>.characterList>.dialog>.content-container>.content::-webkit-scrollbar-thumb:active {
  background: rgb(120, 120, 120);
}

.Selector>.selector-content>.characterList>.dialog>.content-container>.content::-webkit-scrollbar-track {
  border-radius: calc(var(--sl-layout-size) * 1);
  background-color: rgba(0, 0, 0, 0.6);
}

.Selector>.selector-content>.characterList>.dialog .buttons.smallzoom{
  zoom: 0.75;
}

.Selector>.selector-content>.characterList>.dialog .item {
  zoom: calc(var(--sl-layout-zoom) * 1);
}

/* 内容-右侧武将区域-武将链锁提示 */
.Selector>.selector-content .characterList .item .tag,
.Selector>.selector-content .characterList .item .fake-tag {
  position: absolute;
  background: url(../image/locked.png) no-repeat center center/contain;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  transform: scale(1.05);
}

/* 内容-右侧武将区域-武将链锁提示 */
 .Selector>.selector-content .characterList .item .fake-tag {
  filter: brightness(2.8) contrast(1) hue-rotate(336deg);
}

.Selector>.selector-content>.characterList .item .isselected {
  /* box-shadow: rgba(0, 0, 0, 0.8) 0 0 calc(var(--sl-layout-size) * 2) !important; */
  position: absolute;
  background-color: rgba(30, 30, 30, 0.6);
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.Selector>.selector-content>.characterList .item .name {
  z-index: 10;
}

/*滚动隐藏*/
.Selector>.selector-list ul::-webkit-scrollbar,
.Selector>.selector-content-characterSort ol::-webkit-scrollbar,
.Selector>.selector-content .characterList::-webkit-scrollbar{
  display: none;
}

.Selector .selector-header-help,
.Selector .selectAll,
.Selector .select,
.Selector .setUp,
.Selector button,
.Selector .selector-header-close,
.Selector .selector-list-left,
.Selector .selector-list-right,
.Selector .charSelectedBtn,
.Selector .charConfirmBtn,
.Selector li,
.Selector .item,
.Selector span {
  cursor: url(../image/1.ico), auto;
}
